body {
  background-color: rgba(128, 128, 128, 0.26);
  font-family: "Padauk", sans-serif;
  font-size: 16px;
  line-height: 1;
}

.container {
  min-height: 300px;
}

.row-height {
  min-height: 50px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.row {
  white-space: pre-wrap;
  height: 80px;
}

.saveBtn {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
}

.past {
  background-color: rgb(170, 161, 161);
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}
