body {
  background-color: rgba(128, 128, 128, 0.26);
  font-family: "Padauk", sans-serif;
  font-size: 16px;
  line-height: 1;
}

.container {
  min-height: 300px;
}

.row-height {
  min-height: 50px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.row {
  white-space: pre-wrap;
  height: 80px;
}

.saveBtn {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  align-items: center;
}

/*button depress effect*/
.saveBtn:hover {
  -webkit-box-shadow: 0px 0px 2.5px 2.5px #ffffff;
  -moz-box-shadow: 0px 0px 2.5px 2.5px #faf9f9;
  box-shadow: 0px 0px 2.5px 2.5px #ffffff;
}

.saveBtn:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 0px 0px 1px 1px #ffffff;
  /* Lowering the shadow */
}

.past {
  background-color: rgb(170, 161, 161);
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}

i {
  margin-left: 30px;
}
